<div class="project-card mb-6 last:mb-0">
  <div class="text-xl font-bold mb-2 select-none">
    <h3 class="text-xl">
      <a 
        [href]="project.demoLink" target="_blank" rel="noopener noreferrer" 
        class="link link-hover text-primary visited:text-primary hover:text-secondary active:text-base-content focus:text-primary" [attr.aria-label]="'View demo for ' + project.title">
        {{ project.title }}
      </a>
    </h3>
  </div>
  <p class="select-none text-base leading-relaxed">{{ project.oneLine }}</p>
  <div class="mt-2 text-base">
    <span class="font-semibold select-none">Tech:&nbsp;</span>
    <span class='select-none'>{{ project.tech.join(', ') }}</span>
  </div>

  @if (project.details && project.details.length > 0) {
    <div class="hidden sm:flex flex-col select-none mt-2 mb-1 list-disc list-inside">
      <p class="font-semibold mb-2">Key Features:</p>
      <ul class="list-disc list-inside space-y-1">
        @for (detail of project.details; track detail) {
          <li class="pb-2">{{ detail }}</li>
        }
      </ul>
    </div>
  }

  <div class="my-6 flex gap-4">
    <a [href]="project.demoLink" target="_blank" rel="noopener noreferrer" 
      class="link link-hover text-base-content visited:text-base-content hover:text-primary active:text-base-content focus:text-primary" [attr.aria-label]="'Link to demo for ' + project.title">
      Demo
    </a>
    
    @if (project.gitLink && project.gitLink.length > 0) {
      @if ((isArray(project.gitLink) ? project.gitLink[0] : project.gitLink) === 'N/A') {
        <span class="text-amber-600 font-medium select-none">Git Repo Private</span>
      } 
      @else {
        <a [href]="isArray(project.gitLink) ? project.gitLink[0] : project.gitLink" target="_blank" rel="noopener noreferrer"
          class="link link-hover text-base-content visited:text-base-content hover:text-primary active:text-base-content focus:text-primary" [attr.aria-label]="'Link to GitHub repository for ' + project.title">
          Git Repo
        </a>
      }
    }

  </div>
</div>