<div class="fixed z-40 top-0 w-full transition-colors duration-200 ease-in-out"
      [ngClass]="{'bg-white/10 backdrop-blur-xs shadow-xs border-b border-zinc-100': scrollY > 15, 'bg-transparent': scrollY <= 15}">
  <div class="w-[90vw] sm:w-[90vw] md:w-[85vw] lg:w-[80vw] max-w-7xl mx-auto">
    <div class="flex justify-between items-center transition-all duration-300 ease-in-out" [ngClass]="{'h-7': scrollY > 15, 'h-16': scrollY <= 15}">

      <div class="flex items-center cursor-pointer">
        <a href="#top" (click)="scrollToSection($event, '#top')"
            class="flex items-center"
            aria-label="Back to top, Dan Bennett Home">
          <!-- <div class="relative overflow-hidden flex-shrink-0 transition-all duration-300 ease-in-out" [ngClass]="{'w-8 h-8': scrollY > 15, 'w-12 h-12': scrollY <= 15}">
            <img 
              ngSrc="assets/icon/rocky.png"
              alt="Dan Bennett Dev logo - rocky head outline"
              width="36"
              height="36"
              priority
              class="absolute top-1/2 left-1/2 min-w-full min-h-full transform -translate-x-1/2 -translate-y-1/2" />
          </div> -->
          <div class="hover:no-underline font-semibold transition-all duration-300 ease-in-out text-base-content visited:text-base-content hover:text-primary active:text-base-content focus:text-primary" [ngClass]="{'text-base text-red-400': scrollY > 15, 'text-xl': scrollY <= 15}">
            danbennett.dev
          </div>
        </a>
      </div>

      <nav class="hidden sm:flex items-center gap-6" aria-label="Main navigation">

            <!-- dark mode toggle -->
    <div class="h-6 w-6
    transition duration-150 ease-in-out hover:bg-gray-400 rounded-full p-1 cursor-pointer">
      <label class="swap swap-rotate -translate-y-2">
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" (click)="selectTheme()"/>
      
        <!-- sun icon -->
        <svg
          class="swap-on h-4 w-4 fill-current "
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path
            d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
        </svg>
      
        <!-- moon icon -->
        <svg
          class="swap-off h-4 w-4 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path
            d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
        </svg>
      </label>
    </div>
    
        <a href="#projects-section" (click)="scrollToSection($event, '#projects-section')"
            class="hover:underline font-medium px-2 py-1 transition-colors duration-200 ease-in-out text-base-content visited:text-base-content hover:text-primary active:text-base-content focus:text-primary">
          Projects
        </a>
        <a href="#about" (click)="scrollToSection($event, '#about')"
            class="hover:underline font-medium text-zinc-700 hover:text-blue-600 px-2 py-1 transition-colors duration-200 ease-in-out text-base-content visited:text-base-content hover:text-primary active:text-base-content focus:text-primary">
          About
        </a>
        <a href="#contact" (click)="scrollToSection($event, '#contact')"
            class="hover:underline font-medium text-zinc-700 hover:text-blue-600 px-2 py-1 transition-colors duration-200 ease-in-out text-base-content visited:text-base-content hover:text-primary active:text-base-content focus:text-primary">
          Contact
        </a>
      </nav>

      <div class="block sm:hidden">
        <label for="my-drawer" class="btn btn-ghost btn-circle swap swap-rotate">
          <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128V170.67H448V128Z"/></svg>
          <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
        </label>
      </div>

    </div>
  </div>
</div>

<div class="drawer drawer-end">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" aria-label="Open mobile navigation" />
  <div class="drawer-content">
    </div>
  <div class="drawer-side z-50">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content text-lg">
      <li class="mb-2"><a (click)="scrollToSectionAndCloseDrawer($event, '#top')" class="hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Home</a></li>
      <li class="mb-2"><a (click)="scrollToSectionAndCloseDrawer($event, '#projects-section')" class="hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Projects</a></li>
      <li class="mb-2"><a (click)="scrollToSectionAndCloseDrawer($event, '#about')" class="hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">About</a></li>
      <li class="mb-2"><a (click)="scrollToSectionAndCloseDrawer($event, '#contact')" class="hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Contact</a></li>
    </ul>
  </div>
</div>