<main class="w-full min-h-[35vh] md:min-h-[65vh] lg:min-h-[80vh] relative flex flex-col justify-start items-center select-none pt-42 md:pt-42 lg:pt-58" aria-labelledby="heroHeading">
  <div class="relative flex flex-col md:flex-row justify-center items-center w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <section class="relative flex flex-col justify-center items-start text-left flex-grow mb-8 md:mb-0 text-base-content">
      <div class="text-5xl sm:text-6xl xl:text-8xl font-bold leading-tight mb-4" id="heroHeading">
        <h1>Dan Bennett</h1>
      </div>
      <p class="mt-4 text-lg sm:text-xl font-medium leading-relaxed max-w-2xl mx-auto md:mx-0">
        Dan is a full-stack engineer specializing in Angular, focused on crafting pixel-perfect, performance-driven dynamic front-end experiences for the modern Web.
      </p>
    </section>

    <section class="hidden md:flex flex-row justify-center items-center ml-0 md:ml-8 lg:ml-12 flex-shrink-0">
      <div class="relative z-10 min-w-[300px] w-[29vw] max-w-[400px] h-auto aspect-[401/321] overflow-hidden rounded-xl">
        <img 
          ngSrc="assets/img/p1-cartoon.webp"
          alt="Dan Bennett - Full-stack engineer profile image"
          width="401"
          height="321"
          priority
          class="w-full h-full object-cover" />
        <div class="absolute inset-0 bg-gradient-to-t from-transparent to-black opacity-10"></div>
        <div class="absolute inset-0 bg-gradient-to-r from-transparent to-black opacity-10"></div>
      </div>
    </section>
  </div>
</main>