<section class="w-full py-32 md:py-38 lg:py-24 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto" aria-labelledby="projectsSectionHeading">
  <h1 class="sr-only" id="projectsSectionHeading">
    My Projects
  </h1> 
  <app-featured-projects></app-featured-projects>

  <div class="mt-8 text-center  cursor-pointer">
    <button 
      class="btn btn-wide btn-primary transition ease-in-out cursor-pointer"
      (click)="openModal()"
      aria-haspopup="dialog"
      aria-controls="projectsArchiveModal"
      #openModalButton>
      View All Projects
    </button>
  </div>

  <dialog id="projectsArchiveModal" class="modal " #projectsModal>
    <div 
      class="modal-box w-[100vw] sm:w-[90%] max-w-[100vw] h-[100vh] rounded-none"
      role="dialog"
      aria-modal="true"
      aria-labelledby="archiveModalTitle">

      @defer (on interaction(openModalButton); prefetch on hover(openModalButton)) {
        <app-projects-archive-modal></app-projects-archive-modal>
        <form method="dialog" class="modal-backdrop">
          <button 
            class="btn btn-xs btn-circle absolute right-2 top-2"
            (click)="closeModal()"
            aria-label="Close project archive modal">
            ✕
          </button>
        </form>
      } @placeholder {
        <div class="flex justify-center items-center h-full">
          <span class="loading loading-spinner loading-lg text-primary"></span>
          <p class="ml-4 text-zinc-500">Loading project archive...</p>
        </div>
      } @loading (after 500ms) {
        <div class="flex justify-center items-center h-full">
          <span class="loading loading-spinner loading-lg text-primary"></span>
          <p class="ml-4 text-zinc-500">Loading project archive...</p>
        </div>
      } @error {
        <div class="flex justify-center items-center h-full text-red-500">
          <p>Failed to load project archive. Please try again.</p>
        </div>
      }
    </div>
    <form method="dialog" class="modal-backdrop">
      <button (click)="closeModal()" aria-label="Close project archive modal by clicking outside"></button>
    </form>
  </dialog>
</section>